## 상품 분류 중 Other들 이름 및 개수 확인

In [1]:
import pandas as pd

### 1. 데이터 로드하기

In [3]:
df = pd.read_csv("./bigmartsales/Train.csv")

df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

---

### 2. 데이터셋 특징 확인하기

In [4]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
# 데이터셋 요약본 출력
# mean : 평균, min : 최솟값
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

---

### 3. 원하는 컬럼만 보기

In [41]:
df[["Item_Type"]]

                  Item_Type
0                     Dairy
1               Soft Drinks
2                      Meat
3     Fruits and Vegetables
4                 Household
...                     ...
8518            Snack Foods
8519           Baking Goods
8520     Health and Hygiene
8521            Snack Foods
8522            Soft Drinks

[8523 rows x 1 columns]

In [15]:
# NaN 포함하지 않고 중복없이 항목 확인
df["Item_Type"].nunique()

16

In [16]:
# NaN 포함까지 하여 중복없이 항목 확인
df["Item_Type"].nunique(dropna=False)

16

---

### 4. 컬럼들 한국어로 바꾸기

***컬럼이 object인 것만 추출하기***

In [ ]:
text_cols = df.select_dtypes(include="object").columns
print(text_cols)

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'],
      dtype='object')

***Item_Fat_Content 번역***

In [ ]:
df[["Item_Fat_Content"]]
item_fat_content_map = df["Item_Fat_Content"].value_counts()

# Item_Fat_Content
item_fat_content_translation_dict = {
    "Low Fat": "저지방",
    "low fat": "저지방",
    "LF": "저지방",
    "Regular": "일반",
    "reg": "일반"
}

item_fat_content_translated = item_fat_content_map.rename(index=item_fat_content_translation_dict)

print(item_fat_content_translated)

Item_Fat_Content
저지방    5089
일반     2889
저지방     316
일반      117
저지방     112
Name: count, dtype: int64

***Item_Type 번역***

In [42]:
df[["Item_Type"]]

# Item_Type의 값 개수 확인
item_type_map = df["Item_Type"].value_counts()

# Item_Type
item_type_translation_dict = {
    "Fruits and Vegetables": "과일과 채소",
    "Snack Foods": "간식",
    "Household": "생활용품",
    "Frozen Foods": "냉동식품",
    "Dairy": "유제품",
    "Canned": "통조림",
    "Baking Goods": "베이킹 재료",
    "Health and Hygiene": "건강/위생",
    "Soft Drinks": "탄산음료",
    "Meat": "육류",
    "Breads": "빵",
    "Hard Drinks": "주류",
    "Others": "기타",
    "Starchy Foods": "전분&녹말 식품",
    "Breakfast": "조식",
    "Seafood": "해산물"
}

item_type_map_translated = item_type_map.rename(index=item_type_translation_dict)

print(item_type_map_translated)

Item_Type
과일과 채소      1232
간식          1200
생활용품         910
냉동식품         856
유제품          682
통조림          649
베이킹 재료       648
건강/위생        520
탄산음료         445
육류           425
빵            251
주류           214
기타           169
전분&녹말 식품     148
조식           110
해산물           64
Name: count, dtype: int64

---